{{ partial "header.html" . }}

{{ if hasPrefix .URL "/events/" }}
  {{ range sort .Paginator.Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="timestamp">{{ .Date.Format "January 2, 2006" }}</p>
    <div class="content">
    {{ .Content }}
    </div>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}

{{ if hasPrefix .URL "/blog/" }}
  {{ range sort .Paginator.Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="timestamp">{{ .Date.Format "January 2, 2006" }}</p>
    <div class="content">
    {{ .Content }}
    </div>
    {{ if .Params.tags }}
      {{ partial "tags" .Params.tags }}
    {{ end }}
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}

{{ partial "footer.html" . }}
